.navBar {
  height: 60px;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-between;

  &_logo {
    height: 100%;
    display: flex;

    img {
      height: 100%;
    }
  }

  &-items {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;
  }
}